
* {
    border-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    scroll-behavior: smooth;
    font-size: 100%;
  }

body {
    color: #252934;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    font-family: "europa", sans-serif;
  }

.secondary-text {
    color: #8c52ff;
}

.rotate:hover
{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
}

.rpsImgDiv:hover .rpsImg {
    opacity: 0.3;
    transition: .5s ease;
}

.rpsImgDiv:hover .projOverlay {
    opacity: 1;
    transition: .5s ease;
}

.resetButton {
    background-color: #252934;
}

#resetButtonDiv {
  display: none;
}